html{margin:0;padding:0;}
body{margin:0;padding:3vmin;}
#board {
    width: 91vmin;
    height: 91vmin;
    background-image: url("Board.png");
	background-size: contain;
    padding: 0;
    margin:0;
    float: left;
}

#loader {
    width: 22vmin;
    height: 14vmin;
    padding: 1vmin;
    position: absolute;
}

div.field {
    width: 13vmin;
    height: 13vmin;
    float: left;
    margin: 0;
    padding: 0;
}


div.clickable:hover {
    background-image: url("EmptyO.png");
	background-size: contain;
}

div.highlight {
    background-image: url("EmptyO.png");
	background-size: contain;
}

div.bullet {
    width: 13vmin;
    height: 13vmin;
    position: absolute;
}

div.player1 {
	background-image: url("White.png");
	background-size: contain;
}

div.player2 {
	background-image: url("Black.png");
	background-size: contain;
}

p {
    font-size: 10vh;
    text-align: center;
    margin-top: 40vh;
}
@media(orientation: landscape){
    #loader{left: 100vmin;}
}

@media(orientation: portrait){
    #loader{top: 100vmin;}
}
